<?xml version="1.0"?>
<!-- http://wiki.ros.org/urdf/XML/link -->
<robot name="fourwhell_robot">
        <!-- this is the body of the robot -->
        <link name="base_link">
                <visual>
                       <origin rpy="0 0 0" xyz="0.135 0 0"/>
                       <geometry>
                               <box size="0.35 0.187 0.2" />
                       </geometry>
                       
                       <material name="black">
                              <color rgba="0 0 0 1"/>
                       </material>
                       
                </visual>
        </link>
</robot>
